<!DOCTYPE html>
<html>
  <head>
    <title>Retror</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="bg-white min-h-screen">

      <%= render "shared/navigation" %>

      <header class="pb-32 py-10">
        <div class="w-10/12 mx-auto px-8">
          <h1 class="text-3xl leading-9 font-bold text-gray-900">
            <%= yield :header %>
          </h1>
        </div>
      </header>

      <main class="-mt-32">
        <div class="w-10/12 mx-auto">
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
